<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
     
    <bean name="Demolist" class="com.demo.springapp.springcollection.Demolist">
    <property name="name" value="Amit Kumar Singh"/>
    <property name="subject">
    <list>
        <value>Hindi</value>
        <value>English</value>
        <value>Maths</value>
        <value>Physics</value>
        <value>Computer</value>
    
    </list>
    </property>
    
    </bean>
     
</beans>